body {
  font-family: "Merriweather", "Cabin", sans-serif;
  text-align: center;
  background-color: #fbf7f0;
  /* padding: 0 10% 3% 10%; */
}

@media (max-width: 992px) {
  body {
    /* padding: 0 0 3% 0; */
  }
}

input,
button {
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.fileUploadLabel {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.fileUploadContainer {
  display: block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.brand {
  font-weight: 700;
  font-size: 150%;
  margin: 0.5%;
}

.navbar-page {
  font-family: "Montserrat";
}

.image-select {
  padding: 1rem;
  background-color: #d9e4dd;
  margin-bottom: 1rem;
}

.image-select button.sample-image {
  padding: 0;
  display: inline-block;
  margin: 1.25rem;
  height: 250px;
  width: 250px;
  border-style: solid;
}

.image-select > button.sample-image:active {
  filter: brightness(0.75);
  border-color: green;
}

.image-select .sample-image img {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}
#uploadButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.uploadButtonContent {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline;
}

.uploadButtonContent p {
  margin-bottom: 0;
  display: inline;
}

#diceImage {
  margin: 0;
  padding: 0;
  line-height: 0.75;
  /* letter-spacing: 0.5px; */
  font-size: 8px;
  display: inline-block;
}

@media (max-width: 1300px) {
  #diceImage {
    font-size: 6px;
  }
}

@media (max-width: 850px) {
  #diceImage {
    font-size: 4px;
  }
}

footer {
  margin-top: 1rem;
  color: #fbf7f0;
  padding: 0.75rem;
  background-color: #555555;
}

footer > p {
  margin: 0;
}
